<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Centro - Public Transportation</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="script.js"></script>
</head>
<body>
  <header>
    <div class="header-container">
      <div class="nav-extra">
        <div class="menu-container" id="menuContainer">
          <button class="menu-btn" id="menuBtn">MENU</button>
          <ul class="dropdown-menu">
            <li class="dropdown-item">
              <button class="submenu-btn">ABOUT ▾</button>
              <ul class="nested-menu">
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="faq.html">FAQs</a></li>
                <li><a href="time_operation.html">Hours of Operation</a></li>
                <li><a href="oswego_team.html">OSWEGO Student Team</a></li>
              </ul>
            </li>
            <li class="dropdown-item">
              <a href="faq.html">FAQs</a>
            </li>
            <li class="dropdown-item">
              <a href="how_to_ride.html">HOW TO RIDE</a>
            </li>
            <li class="dropdown-item">
              <a href="passes.html">PURCHASE</a>
            </li>
            <li class="dropdown-item">
              <a href="updates.html">News &amp; Events</a>
            </li>
            <li class="dropdown-item">
              <a href="routes.html">ROUTES &amp; SCHEDULES</a>
          </ul>
        </div>
      </div>
      <div class="logo-container">
        <a href="index.html">
          <img src="logo.jpg" alt="Centro Logo">
        </a>
      </div>
    </div>
  </header>
